:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid #07070640;
  border-radius: 24px;
  padding: 24px;
  background-color: white;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
}


/* Inputs */
input, textarea, select {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  border: 0;
  background-color: transparent;
}

input[type="submit"] {
  margin-top: 20px;
  background-color: #213547;
  color: #fff;
  border: 0;
  height: 40px;
  margin-bottom: 10px;
  text-transform: uppercase;
  border-radius: 10px;
}

textarea {
  height: 320px;
}

table, th, td {
  border: 1px solid;
}

td {
  padding: 10px;
}

a {
  font-weight: 500;
  color: #070706;
  text-decoration: inherit;
}

a:hover { color: #E7A41E; }

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f1f6f4;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

header {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  border-bottom: 1px solid #07070640;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

nav {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

footer {
  border-top: 1px solid #07070640;
  text-align: center;
  padding-top: 1rem;
  margin-top: 3rem;
  font-size: 0.8rem;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.6rem;
}

/* Books */
ul.notes {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  gap: 10px;
}

ul.notes li {
  flex: 1 0 21%;
  background-color: #FCD633;
  border-radius: 10px;
  border: 2px solid #FCD633;
}

ul.notes li a {

  padding: 1rem;
  display: block;
  flex-direction: column;
  color: #213547;
  height: 100%;

  box-sizing: border-box;
}

ul.notes li:hover {
  border: 2px solid rgb(171, 169, 0);
}

ul.notes h3 {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
}

ul.notes p {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 10px;
}

.single-note {
  background-color: #FCD633;
  border-radius: 10px;
  border: 2px solid #FCD633;
  padding: 20px;
}

.single-note .title {
  box-sizing: border-box;
  border: 2px solid #07070690;
  border-radius: 10px;
  padding: .5rem;
  min-height: 3rem;
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

.single-note .description {
  box-sizing: border-box;
  border: 2px solid #07070690;
  border-radius: 10px;
  font-size: 1.3rem;
  padding: .5rem;
}

.add-note-button {
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  flex: 1 0 21%;
  background-color: #FCD633;
  border-radius: 10px;
  border: 2px solid #FCD633;
  margin-bottom: 1rem;
}

.add-note-button > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.add-note-button-icon:hover {
  color: #07070680;
}

.save-note-button {
  cursor: pointer;
}

.delete {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.back-button {
  display: block;
}

.breadcrumb-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.removed-note {
  background-color: #00a60e;
  color: #f1f6f4;
  border-radius: 10px;
  padding: 20px;
  font-size: 1.6rem;
  text-align: center;
}

.removed-note span {
  font-size: 6rem;
}

.removed-note a {
  color: #FCD633;
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}